@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Andika', sans-serif;
}

body {
    color: #fff;
    background: #09001d;
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.25rem;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 5px #09001d);
}

.sound {
    width: 3rem;
    height: 3rem;
    position: fixed;
    right: 10px;
    top: 20px;
    color: #fff;
    z-index: 2;
    cursor: pointer;
}

.sound i {
    font-size: 1.5rem;
    /* display: none; */
}

.sound i:hover  {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #0086d2;
}

.main {
    min-height: 100vh;
    background: url(/assets/images/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: auto;
    transition: .3s ease;
}

.main.active {
    filter: blur(15px);
    pointer-events: none;
}

.container {
    display: flex;
    height: 100vh;
    width: 200%;
}

.home {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-content h1 {
    font-size: 4.875rem;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.home-content p {
    font-size: 1rem;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 1.875rem;
}

.home-content .start-btn {
    width: 190px;
    height: 55px;
    background: #0086D2;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #0086D2;
    font-size: 1.125rem;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.home-content .start-btn:hover {
    background: #09001d;
    box-shadow: none;
}

.popup-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: #fff;
    border-radius: 6px;
    padding: .625rem 1.6rem;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.popup-info.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1); 
}

.popup-info h2 {
    font-size: 3.125rem;
    color: #0086D2;
}

.popup-info .info {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 600;
    color: #0086D2;
}

.kg4-7 {
    display: flex;
    justify-content: space-between;
    background: transparent;
    border: 1px solid rgba(46, 73, 111, 0.529);
    border-radius: 4px;
    padding: .125rem 1rem;
    margin: .25rem 0;
}

.kg4-7:hover {
    background: #0086D2;
    color: #fff;
}

.kg8-10 {
    display: flex;
    justify-content: space-between;
    background: transparent;
    border: 1px solid rgba(46, 73, 111, 0.529);
    border-radius: 4px;
    padding: .125rem 1rem;
    margin: .25rem 0;
}

.kg8-10:hover {
    background: #0086D2;
    color: #fff;
}

.kg10-12 {
    display: flex;
    justify-content: space-between;
    background: transparent;
    border: 1px solid rgba(46, 73, 111, 0.529);
    border-radius: 4px;
    padding: .125rem 1rem;
    margin: .25rem 0;
}

.kg10-12:hover {
    background: #0086D2;
    color: #fff;
}

.popup-info .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    margin-top: .625rem;
    padding: .9rem 0 .4rem;
}

.popup-info .btn-group .info-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: #0086D2;
    border: 2px solid #0086D2;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: .5s;
}

.popup-info .btn-group .info-btn:nth-child(1) {
    background: transparent;
    color: #0086D2;
}

.popup-info .btn-group .info-btn:nth-child(1):hover {
    background: #0086D2;
    color: #fff;
}

.popup-info .btn-group .info-btn:nth-child(2):hover {
    background: #004C91;
    border-color: #004C91;
}

.quiz-section {
    position: relative;
    /* left: -50%; */
    left: 0;
    width: 100%;
    background: #09001d;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: .8s ease-in-out;
    transition-delay: .25s;
}

.quiz-section.active {
    left: 0;
}

.quiz-section .quiz-box {
    position: relative;
    width: 500px;
    background: transparent;
    border: 2px solid #0086D2;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 1.25rem 1.875rem;
    /* opacity: 0; */
    /* pointer-events: none; */
    transform: scale(.9);
    transition: .3s ease;
    transition-delay: 0s;
}

/* .quiz-section .quiz-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
} */

.quiz-box h1 {
    font-size: 2rem;
    text-align: center;
    background: linear-gradient(45deg, transparent, #0086D2, transparent);
    border-radius: 6px;
}

.quiz-box .quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
    border-bottom: 2px solid #0086D2;
    margin-bottom: 1.875rem;
}

.quiz-header span {
    font-size: 1.125rem;
    font-weight: 500;
}

.quiz-header .header-score {
    background: #0086D2;
    border-radius: 3px;
    padding: 7px;
}

.quiz-box .question-text {
    font-size: 1.5rem;
    font-weight: 600;
}

.option-list .option {
    width: 100%;
    padding: .75rem;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 4px;
    font-size: 1rem;
    margin: .9rem 0;
    cursor: pointer;
    transition: .3s;
}

.option-list .option:hover {
    background: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.option-list .option.correct {
    background: #09001d;
    color: #009F82;
    border-color: #009F82;
}

.option-list .option.incorrect {
    background: #09001d;
    color: #760023;
    border-color: #760023;
}

.option-list .option.disabled {
    pointer-events: none;
}

.quiz-box .quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #0086D2;
    padding-top: 1.25rem;
    margin-top: 1.5rem;
}

.quiz-footer .question-total {
    font-size: 1rem;
    font-weight: 600;
}

.quiz-footer .next-btn {
    width: 100px;
    height: 45px;
    background: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .1);
    outline: none;
    border-radius: 6px;
    font-size: 1rem;
    color: rgba(255, 255, 255, .7);
    font-weight: 600;
    cursor: pointer;
    /* pointer-events: none; */
    transition: .5s;
}

.quiz-footer .next-btn:hover {
    background: #004C91;
    border-color: #004C91;
}